---
const { item, animationDuration = "default" } = Astro.props;

let duration = "duration-300";

switch (animationDuration) {
  case "fast":
    duration = "duration-200";
    break;
  case "slow":
    duration = "duration-600";
    break;
  case "default":
  default:
    duration = "duration-300";
    break;
}
---

<div
  class={`accordion-content max-h-0 overflow-hidden transform transition-max-height ${duration} ease group-[.open]:mt-5`}
>
  {item.content}
</div>
